<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Ordering</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Welcome to Pizza Ordering</h1>
    <form action="/order" method="POST">
        <label for="size">Choose pizza size:</label>
        <select name="size" id="size">
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
        </select>
        <br>
        <input type="checkbox" id="pepperoni" name="pepperoni">
        <label for="pepperoni">Add pepperoni</label>
        <br>
        <input type="checkbox" id="extra-cheese" name="extra-cheese">
        <label for="extra-cheese">Add extra cheese</label>
        <br>
        <button type="submit">Order Now</button>
    </form>
</body>
</html>
